# Suhaib's SQL Tips, Tricks, Mistakes and Learning Curves

```How to commit:```
- make a change in the ipynb file
- synchronize button near main
- write commit msg
- commit then yes
- sync changes

### May 20th, 2025: DataCamp's SQL assessement (First Try) ###
- 61% score (low intermediate)
- Forgot alot of stuff about SQL
- It was mainly a refresher course

### June 21st, 2025: DataCamp's SQL assessement (Second Try) ###
- 78% score (high intermediate)
- Took much less time than my first attempt
- Remembered how to do basic joins, filters, group by non-aggreggated columns, CASE operator, REPLACE, 
- Struggled in selecting the 2nd value in a column with an array data type
    - ```SELECT genre[2] AS second_genre```
- Forgot how to use ANY operator
- I didn't know how to do multiple SELECT statements with brackets
- Forgot how to extract column that starts with a vowel
    - ```WHERE LEFT(name, 1) IN ('A', 'E', 'I', 'O', 'U')```
- Remember to use HAVING and not WHERE if you are filtering after a GROUP BY

### June 22nd, 2025: DataCamp's SQL assessement (Third Try) ###
- 77% score (high intermediate)
- Learned how to extract a month from a timestamp
    - ```SELECT EXTRACT(month FROM timestamp '2020-11-30 09:30:30') AS month;```
- Still need to learn how to do multiple SELECT statements with brackets
    - ```SELECT style, price FROM wine_region WHERE id IN (SELECT wine_id FROM pairing) ORDER BY price, style LIMIT 5;```
- ANY operator ---> WHERE 'Reggaeton' = ANY(genre)
- Learned INITCAP operator, capitalizes the first letter of each word in a string and convers all other letters to lowercase
--------------------------
# Network & Applying

Total time (~ 1 hour)

1. Research and plan your next person & method to do
2. Send a message/email to 2-3 people
3. Send (copy & paste) follow-up messages to people in your LinkedIn inbox who have connected but didn’t respond within 2-5 business days
4. Send a follow-up email to people in your email inbox who didn’t respond within 2-5 business days
5. 10 Value-driven commenting on relevant (from companies, from people on your networking list, for people you can help out - Feel free to practice on Jaret’s posts) & recent posts
6. (SECOND LAST) Send 1 (copy & paste) daily connection/inmail/message to the recruiter at one company on your list
7. (LAST) Spend 10 mins max to send 1-10 applications that are not on your company tier list, via job boards

*Check google doc sheets for networking scripts on Cold + Warm Outreach
--------------------------

# SQL SYNTAX + LOGIC
```SQL Order to write queries```

SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING (when using aggregate functions, need to filter by HAVING)
ORDER BY
LIMIT


2) CASE
 	WHEN column1 = 5 THEN 'Good'
 	WHEN column1 BETWEEN 1 AND 4 THEN 'Ok'
 	WHEN column1 = 0 THEN 'Bad'
ELSE 'nothing'
END AS 'alias';

3) Aggregates

MIN AND MAX
COUNT()
SUM
AVG
ROUND (column1, 0) or (324.234, 2)
FLOOR (returns largest integer value that is smaller than or equal to a number)
ABS (absolute value)

4) Arithmetic operators

- +
- -
- x
- /

e.g. SELECT salary, salary * 2 AS new_emp_salary

Comparison Operators

EQUAL TO =
LESS THAN <
GREATER THAN >
>=
<=

Logical Operators

AND
OR
NOT
BETWEEN

5) CAST () AND CONVERT () function

- difference between them is the syntax and usage

Syntax: SELECT CAST(76.87 AS INT);
Output: 76

Syntax: SELECT CONVERT(2022.06.07 AS DATE);
Output: 2022-06-07

6) Null/ Not Null function

SELECT * FROM employee WHERE gender IS NULL
/ WHERE gender IS NOT NULL

7) Delete function

DELETE FROM Customers WHERE CustomerName='Alfreds Futterkiste';

8) Window function

Ranking functions: ROW_NUMBER (), RANK(), DENSE RANK(), NTILE
Value functions: LAG(), LEAD(), FIRST_VALUE(), LAST_VALUE()

9) CTE function

WITH cte_name AS (
 	SELECT
 		empid, region, SUM(sales) total_sales
 	FROM exceldata
 	GROUP BY region
)

SELECT empid, region, total_sales
FROM cte_name
ORDER BY empid, region

10) CONCAT FUNCTION
SELECT CONCAT (name, 'string1', etc..)
FROM table1

11) LOWER AND UPPER FUNCTION
lower = lowercase of the columns to be returned
upper = uppercase of the columns to be returned

12) REPLACE () FUNCTION

REPLACE(string, from_string, new_string)